// Colours
$color-border-dark: rgba(0, 0, 0, .20);
$color-border-light: rgba(0, 0, 0, .10);
$color-background-light: rgba(0, 0, 0, .05);
$color-background-green: rgba(103, 184, 104, 1);

$color-white: #fff;

// Sizes
$font-size-sm: 1.4rem;

